<header class="main-header content-wrapper">

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">

    <a class="blog-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <a href="{{ "/posts/winter" | prepend: site.baseurl }}">冬日</a>
    <a href="{{ "/posts/spring" | prepend: site.baseurl }}">孟春</a>
    <a href="{{ "/posts/summer" | prepend: site.baseurl }}">仲夏</a>
    <a href="{{ "/posts/autumn" | prepend: site.baseurl }}">素秋</a>
    <a href="{{ "/about"        | prepend: site.baseurl }}">关于</a>
    <!--
        {% for my_page in site.pages %}
      {% if my_page.active %}
        <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}
    -->

    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>

    <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☰" onclick></label>
  </nav>

</header>
